In [1]:
import numpy as np
import pandas as pd

In [ ]:
data = pd.read_csv("https://raw.githubusercontent.com/Guhan-B/The-Machine-Learning-Repository/refs/heads/main/datasets/salary.csv");

In [3]:
data.head()

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,salary
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K

#### **1. How many men and women (sex feature) are represented in this dataset?**

In [4]:
print("Number of Men :", data["sex"].value_counts(normalize=False)["Male"])
print("Number of Women :", data["sex"].value_counts(normalize=False)["Female"])

Number of Men : 21790
Number of Women : 10771

In [5]:
print("Percentage of Men :", round(data["sex"].value_counts(normalize=True)["Male"] * 100, 2), "%")
print("Percentage of Women :", round(data["sex"].value_counts(normalize=True)["Female"] * 100, 2), "%")

Percentage of Men : 66.92 %
Percentage of Women : 33.08 %

#### **2. What is the average age (age feature) of women?**

In [6]:
print("Average age of Women :", round(data[data["sex"] == "Female"]["age"].mean(), 2))

Average age of Women : 36.86

#### **3. What is the percentage of German citizens (native-country feature)?**

In [7]:
print("Percentage of German citizens :", round(data["native-country"].value_counts(normalize=True)["Germany"] * 100, 2), "%")

Percentage of German citizens : 0.42 %

#### **4-5. What are the mean and standard deviation of age for those who earn more than 50K per year (salary feature) and those who earn less than 50K per year?**

In [8]:
print("Mean age of people whose salary is > 50K :", round(data[data["salary"] == ">50K"]["age"].mean(), 2))

Mean age of people whose salary is > 50K : 44.25

In [9]:
print("Standard Deviation of age of people whose salary is > 50K :", round(data[data["salary"] == ">50K"]["age"].std(), 2))

Standard Deviation of age of people whose salary is > 50K : 10.52

In [10]:
print("Mean age of people whose salary is <= 50K :", round(data[data["salary"] == "<=50K"]["age"].mean(), 2))

Mean age of people whose salary is <= 50K : 36.78

In [11]:
print("Standard Deviation of age of people whose salary is <= 50K :", round(data[data["salary"] == "<=50K"]["age"].std(), 2))

Standard Deviation of age of people whose salary is <= 50K : 14.02

#### **6. Is it true that people who earn more than 50K have at least high school education? (education – Bachelors, Prof-school, Assoc-acdm, Assoc-voc, Masters or Doctorate feature)**

In [12]:
data[data["salary"] == ">50K"]["education"].value_counts(normalize=False)

education
Bachelors       2221
HS-grad         1675
Some-college    1387
Masters          959
Prof-school      423
Assoc-voc        361
Doctorate        306
Assoc-acdm       265
10th              62
11th              60
7th-8th           40
12th              33
9th               27
5th-6th           16
1st-4th            6
Name: count, dtype: int64

#### **7. Display age statistics for each race (race feature) and each gender (sex feature). Use groupby() and describe(). Find the maximum age of men of Amer-Indian-Eskimo race.**

In [13]:
data.groupby(by="race")[["age"]].describe()

                        age                                                \
                      count       mean        std   min   25%   50%   75%
race
Amer-Indian-Eskimo    311.0  37.173633  12.447130  17.0  28.0  35.0  45.5
Asian-Pac-Islander   1039.0  37.746872  12.825133  17.0  28.0  36.0  45.0
Black                3124.0  37.767926  12.759290  17.0  28.0  36.0  46.0
Other                 271.0  33.457565  11.538865  17.0  25.0  31.0  41.0
White               27816.0  38.769881  13.782306  17.0  28.0  37.0  48.0


                     max
race
Amer-Indian-Eskimo  82.0
Asian-Pac-Islander  90.0
Black               90.0
Other               77.0
White               90.0

In [14]:
data.groupby(by="sex")[["age"]].describe()

            age
          count       mean        std   min   25%   50%   75%   max
sex
Female  10771.0  36.858230  14.013697  17.0  25.0  35.0  46.0  90.0
Male    21790.0  39.433547  13.370630  17.0  29.0  38.0  48.0  90.0

In [15]:
data.groupby(by=["race", "sex"])[["age"]].describe()

                               age                                          \
                             count       mean        std   min   25%   50%
race               sex
Amer-Indian-Eskimo Female    119.0  37.117647  13.114991  17.0  27.0  36.0
                   Male      192.0  37.208333  12.049563  17.0  28.0  35.0
Asian-Pac-Islander Female    346.0  35.089595  12.300845  17.0  25.0  33.0
                   Male      693.0  39.073593  12.883944  18.0  29.0  37.0
Black              Female   1555.0  37.854019  12.637197  17.0  28.0  37.0
                   Male     1569.0  37.682600  12.882612  17.0  27.0  36.0
Other              Female    109.0  31.678899  11.631599  17.0  23.0  29.0
                   Male      162.0  34.654321  11.355531  17.0  26.0  32.0
White              Female   8642.0  36.811618  14.329093  17.0  25.0  35.0
                   Male    19174.0  39.652498  13.436029  17.0  29.0  38.0


                             75%   max
race               sex
Amer-Indian-Eskimo Female  46.00  80.0
                   Male    45.00  82.0
Asian-Pac-Islander Female  43.75  75.0
                   Male    46.00  90.0
Black              Female  46.00  90.0
                   Male    46.00  90.0
Other              Female  39.00  74.0
                   Male    42.00  77.0
White              Female  46.00  90.0
                   Male    49.00  90.0

#### **8. Among whom is the proportion of those who earn a lot (>50K) greater: married or single men (marital-status feature)? Consider as married those who have a marital-status starting with Married (Married-civ-spouse, Married-spouse-absent or Married-AF-spouse), the rest are considered bachelors.**

In [16]:
data["marital-status-transformed"] = data["marital-status"].apply(lambda value : "Married" if value.startswith("Married") else "Unmarried")
data.groupby(by=["marital-status-transformed", "salary"])[["salary"]].count()

                                   salary
marital-status-transformed salary
Married                    <=50K     8681
                           >50K      6736
Unmarried                  <=50K    16039
                           >50K      1105

#### **9. What is the maximum number of hours a person works per week (hours-per-week feature)? How many people work such a number of hours, and what is the percentage of those who earn a lot (>50K) among them?**

In [17]:
maximum_hours_per_week = data["hours-per-week"].max()
print("Maximum hours of work per week :", maximum_hours_per_week)
print("Number of people work maximum hours : ", data[data["hours-per-week"] == maximum_hours_per_week].shape[0])
print("Percentage of people earn more that 50K and work maximum hours : ", data[data["hours-per-week"] == maximum_hours_per_week]["salary"].value_counts(normalize=True)[">50K"], "%")

Maximum hours of work per week : 99
Number of people work maximum hours :  85
Percentage of people earn more that 50K and work maximum hours :  0.29411764705882354 %

#### **10. Count the average time of work (hours-per-week) for those who earn a little and a lot (salary) for each country (native-country). What will these be for Japan?**

In [18]:
group = data.groupby(by=["native-country", "salary"])[["hours-per-week"]]

In [19]:
group.mean()

                       hours-per-week
native-country salary
?              <=50K        40.164760
               >50K         45.547945
Cambodia       <=50K        41.416667
               >50K         40.000000
Canada         <=50K        37.914634
...                               ...
United-States  >50K         45.505369
Vietnam        <=50K        37.193548
               >50K         39.200000
Yugoslavia     <=50K        41.600000
               >50K         49.500000

[82 rows x 1 columns]

In [20]:
group.get_group(("Japan", ">50K")).mean()

hours-per-week    47.958333
dtype: float64

In [21]:
group.get_group(("Japan", "<=50K")).mean()

hours-per-week    41.0
dtype: float64

#### **Verify your answers with this [google form](https://docs.google.com/forms/d/1uY7MpI2trKx6FLWZte0uVh3ULV4Cm_tDud0VDFGCOKg/)**